.container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.figure_box {
  width: 100%;
  height: 38vh; /* 40% de la hauteur de l'écran */
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mySvg {
  width: auto;
  height: auto;
  position: relative;
}

.result_box {
  width: 100%;
  height: 8vh;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px;
  text-align: center;
  border: 3px solid black;
  border-radius: 50px;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
.result_text {
  font-size: 72px;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
}

.keyboard_box {
  width: 100%;
  width: 27vh;
  height: 36vh;
  text-align: center;
}

.keyboard_grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 30%);
  gap: 5%;
  padding: 5%;
}

.keyboard_button {
  padding-bottom: 100%; /* Aspect ratio 1:1 */
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  aspect-ratio: 1 / 1; /*Pour un aspect carré */
  font-size: 36px;
  border-radius: 40%;
  border: 3px solid black;
}

.overlay_result_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay_result_box {
  background-color: rgb(255, 255, 255);
  height: 38vh; /* 40% de la hauteur de l'écran */
  width: 38vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  flex-direction: column;
}

.overlay_result_text {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3vw;
}
.overlay_result_share_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35vh;
  height: 5vh;
  border-radius: 50px;
  font-size: 2vh;
}
